/* 
    Document   : main
    Created on : Jul 23, 2011, 8:04:51 PM
    Author     : TrungHieu
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
@import url("fonts/font.css");

body,hgroup, h1, h2, h3, h4, h5, h6, blockquote, div, p, caption, table, th, td{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Verela Round', 'Open Sans', sans-serif;
    font-size: 13px;
}
a{
	cursor: pointer;
}
.clear{
    clear: both;
    width: 0;
    height: 0;
    overflow: hidden;
}
table{
    border-collapse: collapse;
}
th,
td{
    text-align: center;
    -moz-transition: background 0.2s linear 0s;
    -webkit-transition: background 0.2s linear 0s;
    -o-transition: background 0.2s linear 0s;
    padding: 3px;
}
.left{
    text-align: left;
}
#wrap0{
    margin: auto;
    text-align: left;
}
#wrap2 > section {
	position: relative;
}
#top {
	background: #474747;
	color: #fff;
	padding: 4px;
}

#top h1 {
	font-size: 14px;
}
#garapi-logo img{
    float: left;
	max-width: 20px;
}
#title{
	margin-left: 2em;
}

#viewpoint{
    text-align: center;
}

.overlay{
	z-index: 10000;
	background: rgba(0, 0, 0, .5);
	position:absolute; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
	/*      display: none;*/
}

#toolbar {
	background: #EDEDED;
	border-top: 1px solid #D3D3D3; 
	border-bottom: 1px solid #D3D3D3; 
	padding: 1px;
}

#toolbar ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#toolbar ul li {
	display: block;
	float:left;
	height: 32px;
	margin-top: 3px;
	overflow: hidden;
}
#toolbar li a {
	color:#474747;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	min-width: 22px;
	margin: 1px;
	padding: 4px;
}

#toolbar li a:hover {
	background-color: #E5E5E5;
}

#toolbar li.vert_div {
	border-right: 1px solid #ccc;
	padding-left: 3px;
	margin-right: 2px;
}

#tb_nav_center_form {
	display: inline;
}
#tb_nav_center_form input[type=text] {
	background: #fcfcfc;
	border: 1px solid #CCCCCC;
	padding: 4px;
	width: 50px;
	-moz-transition: background .2s linear 0s;
	-o-transition: background .2s linear 0s;
	-webkit-transition: background .2s linear 0s;
}
#tb_nav_center_form input[type=text]:focus{
	background: #fff;
}

#tb_zoom_out {
	background: url("../imgs/icon_zoom_out.png") center center no-repeat;
}
#tb_zoom_in{
	background: url("../imgs/icon_zoom_in.png") center center no-repeat;
}
#tb_zoom_reset{
	background: url("../imgs/icon_zoom_reset.png") center center no-repeat;
}
#tb_nav_left{
	background: url("../imgs/icon_nav_left.png") center center no-repeat;
}
#tb_nav_right{
	background: url("../imgs/icon_nav_right.png") center center no-repeat;
}
#tb_nav_up{
	background: url("../imgs/icon_nav_up.png") center center no-repeat;
}
#tb_nav_down{
	background: url("../imgs/icon_nav_down.png") center center no-repeat;
}
#tb_nav_reset{
	background: url("../imgs/icon_nav_reset.png") center center no-repeat;
}
#tb_view_funcs{
	background: url("../imgs/icon_view_funcs.png") center center no-repeat;
}
#tb_view_plots{
	background: url("../imgs/icon_view_plots.png") center center no-repeat;
}
#tb_clear{
	background: url("../imgs/icon_clear.png") center center no-repeat;
}

/* panels */
.panel,
.dialog{
	background: #f9f9f9;
	border: 1px solid #c0c0c0;
	border-radius: 0 0 8px 8px;
	overflow: hidden;
	position: fixed;
}

.panel{
	top: 75px;	
	width: 250px;
}

.dialog {
	top: 80px;
}

.close-button{
	position: absolute;
	top: 1px;
	right: 1px;
	background: #555555;
	border: 2px solid #ccc;
	border-radius: 14px;
	color: #EDEDED;
	font-weight: bold;
	text-align: center;
	width: 20px;
	height: 20px;
}

.panel-title,
.dialog-title{
	padding: 5px;
	background: #CCCCCC;
}

.panel-title h3,
.dialog-title h3{
	font-size: 12px;
	color: #555555;
}

.panel-content,
.dialog-content{
	padding: 5px;
}

.panel-content{
	min-height: 100px;
	overflow: auto;
}

.panel-foot,
.dialog-foot{
	border-top: 1px solid #e0e0e0;
	margin-top: 10px;
}

.panel-foot ul,
.dialog-foot ul{
	margin: 0;
	padding: 0;
}

.panel-foot li,
.dialog-foot li{
	border-left: 1px solid #e0e0e0;
	display: block;
	float: left;
}

.panel-foot li {
	width: 61px;
}

.panel-foot a,
.dialog-foot a{
	display: block;
	padding-top: 5px;
	height: 24px;
	text-align: center;
}

.panel table{
	width: 100%;
	border: 1px solid #cccccc;
	overflow: hidden;
}

.panel th {
	font-size: 11px;
	margin: 0;
	padding: 0;
}
.panel td {
	border-top: 1px solid #cfcfcf;
	border-left: 1px solid #cfcfcf;
	padding: 5px;
}

.panel table a {
	color: #3F7DA3;
	text-decoration: underline;
}

.fdel {
	float: right;
	text-align: right;
}

.fcolor{
	display: block;
	float: left;
	margin-top: 8px;
	width: 50px;
	height: 5px;
}

#panel-functions{
	left: 5px;
}

#panel-functions td{
	max-width: 100px;
	overflow: hidden;
}

#panel-plots{
	right: 5px;
}

.dialog-foot li{
	width: 49%;
}

.dialog-foot a {
	height: 26px;
	padding-top: 7px;
}

.dialog textarea{
	background: #fcfcfc;
	border: 1px solid #efefef;
	width: 99%;
	height: 10em;
}

.dialog textarea:focus{
	background: #fefefe;
}

.element{
	margin: 10px auto 15px;
}
.color{
	border: none;
	padding: 6px;
}
.note{
	font-style: italic;
	color: #555555;
}
.dialog-text {
	border: 1px solid #efefef;
	background: #fefefe;
	padding:5px;
}
.dialog-text:focus{
	background: #ffffff;
	border-color: #e0e0e0;
}
.dialog-content td {
	text-align: left;
}
.dialog-content td.label{
	text-align: right;
}
#dialog-plot-info select{
	border: 1px solid #e0e0e0;
	border-radius: 15px;
	background: #fefefe;
	overflow: hidden;
	padding: 5px;
	width: 94%;
}

.dialog-text,
.dialog-content textarea,
.dialog-content select{
	color: #474747;
}
